* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Secular One', sans-serif;
}

/*#############################################################*/

.fixed {
	display: inline-block;
	position: fixed;
	z-index: 50;
}

/*#############################################################*/

.topbar {
 	background: #F2F2F2;
 	width: 100%;
 	height: 120px;
 	z-index: 100;
}

/*#############################################################*/

.navBrand {
	padding: 30px;
	font-size: 1.2rem;
	vertical-align: middle;
}

/*#############################################################*/

.navPort {
	padding-top: 30px;
	padding-right: 100px;
	padding-bottom: 30px;
	padding-left: 30px;
	font-size: 1.2rem;
	color: black;
	text-align: right;
	vertical-align: middle;
}

@media only screen and (max-width: 767px) {
	.navPort {
		padding-top: 30px;
		padding-right: 50px;
		padding-bottom: 30px;
		padding-left: 30px;
		font-size: 1.2rem;
		color: black;
		text-align: right;
		vertical-align: middle;
	}
}

/*#############################################################*/

.knowledge {
	padding-left: 30px;
	top: 150px;
	width: 120px;
	z-index: 50;
}

/*#############################################################*/

.sidebar {
	position: fixed;
	width: 120px;
	height: 100vh;
	background: #dad8d9;
	z-index: 0;
}

/*#############################################################*/

.content {
	padding-top: 150px;
	padding-right: 100px;
	padding-left: 170px;
	width: calc(100% - 100px - 170px);
	z-index: 0;
}

@media only screen and (max-width: 767px) {
	.content {
		padding-top: 150px;
		padding-right: 50px;
		padding-left: 150px;
		width: calc(100% - 50px - 150px);
		z-index: 0;
	}
}

/*#############################################################*/

.contactMap {
	padding-left: 170px;
	z-index: 10;
}

@media only screen and (max-width: 767px) {
	.contactMap {
		padding-right: 50px;
		padding-left: 150px;
		width: calc(100% - 50px);
		z-index: 10;
	}
}
/*#############################################################*/

.contact {
	padding-right: 100px;
	padding-left: 120px;
	width: calc(100% - 50px - 150px);
	z-index: 10;
}

@media only screen and (max-width: 767px) {
	.contact {
		padding-right: 50px;
		padding-left: 150px;
		width: calc(100% - 50px - 150px);
		z-index: 10;
	}
}

@media only screen and (min-width: 1100px) and (max-width: 3300px) {
	.contact {
		padding-right: 50px;
		padding-left: 20px;
		width: calc(100% - 50px - 20px);
		z-index: 10;
	}
}

/*#############################################################*/